*{
    margin: 0;
    padding: 0;
    border:border-box;
}

.container-fluid{
   height: 100vh;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
   background: linear-gradient(120deg, springgreen,rgb(240, 240, 106));
}

.card-section{
   width: 430px;
   height: 400px;
   z-index: 1;
   box-shadow: 2px 4px 15px rgb(0, 0, 0);
   border-radius: 30px;
   text-align: center;
   background: rgba(255,255,255,0.4);
   backdrop-filter: blur(55px);
  
}

.card-section h1{
    padding-top: 50px;
    letter-spacing: 5px;
    font: 35px bold 300;

}

.input-value{
    display: flex;
    flex-direction: column;
    align-items: center;
}



#inputText{
    width: 200px;
    margin: 20px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px; 
    background-color: rgba(255, 248, 248, 0.9);
    transition: .6s;
}

#inputText::placeholder{
    color: black;
    font-size: 15px;
}

#inputText:hover{
    border: 2px solid springgreen;
}

.submitbtn{
    width: 90px;
    height: 50px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 12px;
    font-size: 15px;
    background: rgb(71, 255, 163);
    transition: .6s;
}

.submitbtn:hover{
    background-color: white;
    color: springgreen;
    border: 2px solid springgreen;
}

#result{
    font-size: 20px;
    padding-top: 20px;
    font-family: 'Franklin Gothic Medium';
}